<div class="box">
	<div class="item">
		<input name="1han" type="checkbox" value="立直" checked="checked" />立直<br>
		<input name="1han" type="checkbox" value="一発" />一発<br>
		<input name="1han" type="checkbox" value="門前清自摸和" />門前清自摸和<br>
		<input name="1han" type="checkbox" value="役牌" />役牌<br>
		<input name="1han" type="checkbox" value="タンヤオ" />タンヤオ<br>
		<input name="1han" type="checkbox" value="平和" />平和<br>
		<input name="1han" type="checkbox" value="一盃口" />一盃口<br>
		<input name="1han" type="checkbox" value="海底撈月" />海底撈月<br>
		<input name="1han" type="checkbox" value="河底撈魚" />河底撈魚<br>
		<input name="1han" type="checkbox" value="嶺上開花" />嶺上開花<br>
		<input name="1han" type="checkbox" value="槍槓" />槍槓<br>
	</div>
	<div class="item">
		<input name="2han" type="checkbox" value="ダブル立直" />ダブル立直<br>
		<input name="2han" type="checkbox" value="三色同順" />三色同順<br>
		<input name="2han" type="checkbox" value="三色同刻" />三色同刻<br>
		<input name="2han" type="checkbox" value="三暗刻" />三暗刻<br>
		<input name="2han" type="checkbox" value="一気通貫" />一気通貫<br>
		<input name="2han" type="checkbox" value="七対子" />七対子<br>
		<input name="2han" type="checkbox" value="対々和" />対々和<br>
		<input name="2han" type="checkbox" value="混全帯幺九" />混全帯幺九<br>
		<input name="2han" type="checkbox" value="三槓子" />三槓子<br>
	</div>
	<div class="item">
		<input name="3han" type="checkbox" value="二盃口" />二盃口<br>
		<input name="3han" type="checkbox" value="純全帯公九" />純全帯公九<br>
		<input name="3han" type="checkbox" value="混一色" />混一色<br>
	</div>
	<div class="item">
		<input name="4han" type="checkbox" value="小三元" />小三元<br>
		<input name="4han" type="checkbox" value="混老頭" />混老頭<br>
	</div>
	<div class="item">
		<input name="6han" type="checkbox" value="清一色" />清一色
	</div>
</div>

